# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# YOLO training outputs
runs/

# Dataset - DO NOT PUSH
dataset/
*.pt
*.yaml
!requirements.txt

# Images & annotations
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.gif
*.webp
coco.json
infer.jpg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
tmpclaude-*
